#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-self: center;
}

.square {
    aspect-ratio: 1 / 1; 
    border-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: thin;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 20px auto 20px auto;
}
