#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.square {
   /* width: 5.1%;
    padding-top: 5.1%;
    background-color: red; 
    also works but clunky
    */
    aspect-ratio: 1 / 1; 
    width: 6.25%;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
}

