#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-self: center;
}

.square {
    aspect-ratio: 1 / 1; 
    width: 6.25%;
    border-color: rgb(141, 141, 141);
    border-style: solid;
    border-width: thin;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 20px auto 20px auto;
}
