@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --dark-accent: 100, 50, 90;
}

#container,
button {
    border-color: rgba(var(--dark-accent), 0.3);
    border-radius: 15px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-self: center;
    background-color: rgba(var(--dark-accent), 0.05);
}

#container,
.square {
    border-style: solid;
    box-sizing: border-box;
}

.square {
    aspect-ratio: 1 / 1; 
    border-color: rgb(232, 232, 232, 0.8);
    border-width: thin;
}

button {
    display: block;
    margin: 20px auto 5px;
    padding: 5px;
    background-color: rgba(var(--dark-accent), 0.3);
    font-family: 'Silkscreen', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(73, 53, 65);
    text-shadow:  -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(164, 129, 156, 0.8);
}

h1 {
    font-family: 'Yuji Boku', serif;
    color: rgb(59, 42, 52);
    text-align: center;
    margin: 5px;
}
